{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black text-center">
  <h3>My Projects</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, laborum.</p>
</header>

<div class="row my-4 text-center">

    {% for project in projects %}

    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top"/>
            <div class="card-body">
                <h2>{{project.title}}</h2>
                <p>{{project.description}}</p>
                
            
                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-primary btn-lg rounded-0 my-3" target="_blank">{{project.url}}</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}

