{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assents/logo.png" width="30" height="30" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'blog:posts' %}">Blog</a>
          <a class="nav-item nav-link" href="{% static 'portfolio/cv.pdf' %}">Portfolio</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
</nav>